<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="css/style.css">
  <script>
      var module = ons.bootstrap();
      module.controller('StartPage', function($scope, $http){
          $scope.LogInPage = function() {
              $scope.myNavigator.pushPage('login.html', {animation: 'lift'})
          }

          $scope.SignUpPage = function() {
              $scope.myNavigator.pushPage('signup.html', {animation: 'lift'})
          }
      });

      module.controller('LoginPage', function($scope, $http){
          $scope.user = {
              name: "",
              password: ""
          };
          $scope.LoginRequest = function() {
              var username = $scope.user.name;
              var password = $scope.user.password;
              $http({
                  method: 'GET',
                  url: 'http://google.com'
              }).success(function(data, status, headers, config) {
                  app.slidingMenu.setSwipeable(true);
                  $scope.myNavigator.pushPage('main.html', {animation: 'fade'})
                  alert("success login: " + username + "," + password);
                  console.log(username);
                  console.log(password);
              }).error(function(data, status, headers, config) {
                  alert("error");
              });
          }
      });
      
      module.controller('MainPage', function($scope, $http){
          $scope.DetailRequest = function() {
              $scope.myNavigator.pushPage('request_detail_page.html', {animation: 'fade'})
          }
      });
      
      module.controller('RequestDetailPage', function($scope, $http){
          $scope.BackRequest = function() {
              $scope.myNavigator.popPage('main.html', {animation: 'fade'})
          }
      });
  </script>
  <script src="js/open_album.js"></script>
  <script src="js/take_photo.js"></script>
</head>
<body>


<ons-sliding-menu
        var="app.slidingMenu"
        menu-page="menu.html"
        main-page="main.html"
        side="right"
        type="overlay"
        max-slide-distance="80%"
        swipeable="false">
  <ons-navigator var="myNavigator" page="StartPage.html" hide-toolbar="true"></ons-navigator>
</ons-sliding-menu>

<!--StartPage.html-->
<ons-template id="StartPage.html">
  <ons-page ng-controller="StartPage" style="background-color:#f2924e">
    <h1 class="totte_theme text_center">Totte!</h1>
    <ons-carousel style="height:60%; width: 100%; margin-top: 20%" swipeable overscrollable auto-scroll>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
    </ons-carousel>
    <button class="button button--outline" style="width:95%; display:block; margin-left: auto; margin-right: auto; border-color:white; color:white" ng-click="LogInPage()">LOG IN</button>
    <button class="button button--outline" style="width:95%; display:block; margin-top:10px; margin-left: auto; margin-right: auto; border-color:white; color:white" ng-click="SignUpPage()">SIGN UP</button>
  </ons-page>
</ons-template>
</body>
</html>
