<!DOCTYPE HTML>
<html ng-app="TotteModule">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="css/style.css">
  <script>
      var keys = {
          token: 'authentication_token'
      };
      
      var debug = {
          email: 'harimanmon@gmail.com',
          username: 'hogehoge',
          password: 'hoegehoge'
      };
      
      var html = {
          login: 'login.html',   // ログインページ
          signup: 'signup.html', // 新規登録
          main: 'main.html',     // メインページ(依頼一覧ページ)
          request_detail: 'request_detail_page.html' // 依頼詳細ページ
      };
      
      var rootUrl = 'https://floating-caverns-41338.herokuapp.com/';
      var urls = {
          login: rootUrl + 'users/sign_in.json',
          signup: rootUrl + 'users.json',
          
      };
      
      var module = ons.bootstrap('totte', ['onsen']);
      console.log(localStorage.getItem(keys.token));
      module.controller('StartPage', function($scope, $http){
          $scope.LogInPage = function() {
              $scope.myNavigator.pushPage(html.login, {animation: 'lift'})
          };
          $scope.SignUpPage = function() {
              $scope.myNavigator.pushPage(html.signup, {animation: 'lift'})
          };
      });

      module.controller('LoginPage', function($scope, $http){
          $scope.LoginRequest = function() {
//              var email = $scope.user.email_address;
//              var username = $scope.user.name;
//              var password = $scope.user.password;
              var email = "harimanmon@yahoo.co.jp";
              var username = "hogehoge";
              var password = "hogehoge";
              var parameter = JSON.stringify({user: { email: email, name: username, password: password }});
              $http({
                  method: 'GET',
                  headers: {
                      'Content-Type' : 'application/json'
                  },
                  url: urls.login,
                  data: parameter
              }).success(function(data, status, headers, config) {
                  app.slidingMenu.setSwipeable(true);
                  $scope.myNavigator.pushPage(html.main, {animation: 'fade'})
                  alert("success login: " + username + "," + password);
              }).error(function(data, status, headers, config) {
                  alert("error");
              });
          }
      });

      module.controller('SignupPage', function($scope, $http){
          $scope.user = {
              email_address: "",
              name: "",
              password: ""
          };
          $scope.SignupRequest = function() {
//              var email = $scope.user.email_address;
//              var username = $scope.user.name;
//              var password = $scope.user.password;
              var email = "harimanmon@dummy.co.jp";
              var username = "hogehoge";
              var password = "hogehoge";
              var password_confirmation = "hogehoge";
              var parameter = JSON.stringify({user: { email: email, name: username, password: password, password_confirmation: password_confirmation }});
              $http({
                  method: 'POST',
                  headers: {
                      'Content-Type' : 'application/json'
                  },
                  url: urls.signup,
                  data: parameter
              }).success(function(data, status, headers, config) {
                  app.slidingMenu.setSwipeable(true);
                  console.log(angular.fromJson(data));
                  var authentication_token = data[keys.token];
                  localStorage.setItem(keys.token, authentication_token);
                  var user = {
                      username: username,
                      password: password,
                      email: email
                  };
                  localStorage.setItem('user', user);
                  alert("success signup: " + data['id'] + "," + data[keys.token]);
                  
                  $scope.myNavigator.pushPage(html.main, {animation: 'fade'})
              }).error(function(data, status, headers, config) {
                  if ('email' in data["errors"]) {
                      alert(email + ' ' + data["errors"]["email"]);
                  }
              });
          }
      });

      module.controller('MainPage', function($scope, $http){
          $scope.DetailRequest = function() {
              $scope.myNavigator.pushPage(html.request_detail, {animation: 'fade'})
          }
      });

      module.controller('RequestDetailPage', function($scope, $http){
          $scope.BackRequest = function() {
              $scope.myNavigator.popPage();
              //$scope.myNavigator.popPage('main.html', {animation: 'fade'})
          }
      });
  </script>
  <script src="js/open_album.js"></script>
  <script src="js/take_photo.js"></script>
</head>
<body>


<ons-sliding-menu
        var="app.slidingMenu"
        menu-page="menu.html"
        main-page="main.html"
        side="right"
        type="overlay"
        max-slide-distance="80%"
        swipeable="false">
  <ons-navigator var="myNavigator" page="StartPage.html" hide-toolbar="true"></ons-navigator>
</ons-sliding-menu>

<!--StartPage.html-->
<ons-template id="StartPage.html">
  <ons-page ng-controller="StartPage">
    <h1 class="text_center">Totte!</h1>
    <ons-carousel style="height:60%; width: 100%; margin-top: 20%" swipeable overscrollable auto-scroll>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
      <ons-carousel-item>
        <img src="images/ico_swipe_right_s.png" height="150px" style=" display: block; margin-left: auto; margin-right: auto" />
      </ons-carousel-item>
    </ons-carousel>
    <section style="padding: 0 8px 8px">
      <ons-button style="margin: 5px 0" modifier="large" ng-click="LogInPage()">LOG IN</ons-button>
      <ons-button modifier="large" ng-click="SignUpPage()">SIGN UP</ons-button>
    </section>
  </ons-page>
</ons-template>
</body>
</html>
