  <ons-page id="main" ng-controller="MainPage">
    <ons-toolbar class="totte_theme">
      <div class="right">
        <ons-toolbar-button ng-click="app.slidingMenu.toggleMenu()"><ons-icon icon="bars" style="color: white;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="left">
        <ons-toolbar-button>
          <ons-icon icon="ion-compass" style="color: white;"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center header">Totte!</div>
    </ons-toolbar>
    
    <div style="text-align: center">
      <h1>Main</h1>
      <section style="padding: 0 8px 8px">
        <input type="search" class="search-input" ng-model="searchText" placeholder="Search"></input>
      </section>
      <ons-button ng-click="DetailRequest()">
        Detail Page
      </ons-button>
      
      <!--<p> Click "Toggle Menu" to close/open menu, </p>
      <p> You can also swipe the page left/right.  </p>
      <img src="images/ico_swipe_right_s.png" alt="">-->
    </div>
  </ons-page>
