<ons-page ng-controller="SignupPage" >
  <div style="text-align: center">
    <h1>Signup</h1>
    <div style="text-align: center">
      <section style="padding: 8px">
        <ons-input id="email" ng-model="user.email_address" class="text-input" placeholder="Email" style="display: block; width: 100%">
      </section>
      
      <section style="padding: 8px">
        <ons-input id="username" ng-model="user.name" class="text-input" placeholder="Username" style="display: block; width: 100%">
      </section>
      
      <section style="padding: 0 8px 8px">
        <ons-input type="password" id="password" ng-model="user.password" class="text-input" placeholder="Password" style="display: block; width: 100%;">
      </section>
      
      <section style="padding: 0 8px 8px">
        <ons-button ng-click="SignupRequest()" modifier="large">Login</ons-button>
      </section>
    </div>
  </div>
</ons-page>
